<?xml version="1.0"?>
<configuration>
	<configSections>
		<section name="log4net" type="log4net.Config.Log4NetConfigurationSectionHandler, log4net"/>
	</configSections>
	<log4net>
		<root>
			<level value="DEBUG"/>
			<appender-ref ref="RollingFileAppender"/>
		</root>
		<appender name="FileAppender" type="log4net.Appender.FileAppender">
			<file value="mylogfile.txt"/>
			<appendToFile value="true"/>
			<lockingModel type="log4net.Appender.FileAppender+MinimalLock"/>
			<layout type="log4net.Layout.PatternLayout">
				<conversionPattern value="%date [%thread] %level %logger - %message%newline"/>
			</layout>
			<filter type="log4net.Filter.LevelRangeFilter">
				<!--<levelMin value="INFO" />
        <levelMax value="FATAL" />-->
			</filter>
		</appender>
		<appender name="RollingFileAppender" type="log4net.Appender.RollingFileAppender">
			<file value="mylogfile.txt"/>
			<appendToFile value="true"/>
			<rollingStyle value="Once"/>
			<maxSizeRollBackups value="10"/>
			<maximumFileSize value="10MB"/>
			<staticLogFileName value="true"/>
			<layout type="log4net.Layout.PatternLayout">
				<conversionPattern value="%date [%thread] %level %logger - %message%newline"/>
			</layout>
		</appender>
	</log4net>
	<system.serviceModel>
		<bindings>
			<netTcpBinding>
				<binding name="NetTcpBinding_ITractorHost" receiveTimeout="23:59:59">
					<security mode="None"/>
				</binding>
			</netTcpBinding>
		</bindings>
		<behaviors>
			<serviceBehaviors>
				<behavior name="metadataBehavior">
					<serviceMetadata/>
				</behavior>
			</serviceBehaviors>
		</behaviors>
		<services>
			<service name="TractorServer.TractorHost" behaviorConfiguration="metadataBehavior">
				<host>
					<baseAddresses>
						<add baseAddress="net.tcp://localhost:888/TractorHost"/>
						<!--<add baseAddress="net.tcp://10.222.114.112:888/TractorHost"/>-->
						<!--<add baseAddress="net.tcp://localhost:888/TractorHost"/>-->
					</baseAddresses>
				</host>
				<endpoint address="" binding="netTcpBinding" bindingConfiguration="NetTcpBinding_ITractorHost" contract="Duan.Xiugang.Tractor.Objects.ITractorHost"/>
				<endpoint address="mex" binding="mexTcpBinding" contract="IMetadataExchange"/>
			</service>
		</services>
	</system.serviceModel>
	<startup/></configuration>
